<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="img-logo">
            <img src="https://startbootstrap.com/assets/img/sb-logo.svg" alt="" width="300">
            <h1>Sign up on Start Bootstrap</h1>
            <p>Join our community of designers and developers and manage your purchases, favorite themes and snippets,
                comments, and more!</p>
            <div class="buttons">
                <button>Login in with Twetter</button>
                <button>Login in with Facebook</button>
                <button>Login in with Google </button>
                <button>Login in with Github</button>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <section class="form">
            <div class="private">
                <form action="">
                    <label for="email">Email adres</label>
                    <br>
                    <input type="text" id="email" name="email"> <br>
                    <label for="password">Pasword</label> <br>
                    <input type="text" id="pasword" name="pasword"> <br>
                    <h2>Forgot your password?</h2>
                    <input type="checkbox">
                    <p>Remember password </p>
                    <button>Login</button>

                </form>
                <div class="protected"></div>
                <p>This site is protected by reCAPTCHA and the Google <a href="">Privacy Policy</a>and <a href="">Terms
                        of Service</a> apply.</p>
                <hr>
                <p>New user? Create an account!</p>


            </div>
        </section>
    </main>
    <footer>
        <div class="foother-start"></div>
        <div class="foother-left">
            <p>  Copyright © Start Bootstrap LLC 2021</p>
        </div>
        <div class="foother-right">
            <p>Privacy Policy · Terms & Conditions</p>
        </div>
    </footer>
</body>

</html>