<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="log">
            <h1>SB UI Kit Pro</h1>
        </div>
        <nav>
            <ul>
                <il><a href="#"></a>Home</il>
                <il><a href=""></a>Landings</il>
                <il><a href=""></a>Pages</il>
                <il><a href=""></a>Documentation</il>
            </ul>
        </nav>
        <button>Buy now</button>
    </header>
    <main>
        <section class="businesses">
            <h2>Find the best businesses in town</h2>
            <p>Search for restaurants, contractors, and other local businesses in your area to find out which ones are
                the best!</p>
            <div class="search">
                <input type="text" placeholder="Find local businesses">
                <button>Search</button>

            </div>
            <section class="browse">
                <h4>BROWSE BUSINESSES</h4>
                <p>Not sure what to search for? Browse some of the most popular categories.</p>


            </section>
            <section id="carts">
                <div class="cart">

                    <img src="https://source.unsplash.com/Yr4n8O_3UPc/800x500" alt="" width="300">
                    <h3>Restaurants</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/YbGMa1Jz1yY/800x500" alt="" width="300">
                    <h3>Dry Cleaning</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/Cl-OpYWFFm0/800x500" alt="" width="300">
                    <h3>Painters</h3>


                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/E285pJbC4uE/800x500" alt="" width="300">
                    <h3>Medical</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/CQfNt66ttZM/800x500" alt="" width="300">
                    <h3>Gyms</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/tNALoIZhqVM/800x500" alt="" width="300">

                    <h3>Coffe</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/r3XvSBEQQLo/800x500" alt="" width="300">
                    <h3>Events</h3>

                </div>
                <div class="cart">

                    <img src="https://source.unsplash.com/WCm4dFvZnMM/800x500" alt="" width="300">
                    <h3>Breweries</h3>

                </div>

            </section class="news">
            <div class="updates">
                <h3>Get the latest news</h3>
                <p>Stay in the loop with the latest updates and features added to our application!</p>

            </div>
            <div class="email">
                <form action="">
                    <input type="text" placeholder="youremail@gmail.com">
                </form>
                <button>Sign up</button>
                <p>You can unsubscribe at any time.</p>
            </div>
        </section>
        <section class="new carts">
            <h4>NEW BUSINESSES</h4>
            <p>Here are some of the most popular new businesses in your area.</p>
            <div class="cart">
                <div class="cart img">
                    <img src="https://source.unsplash.com/E6HjQaB7UEA/800x500" alt="" width="300">
                </div>
                <div class="cart title">
                    <h3>The Bamboo Ranch</h3>
                </div>
                <div class="cart comments">
                    <i>U</i>
                    <i>U</i>
                    <i>U</i>
                    <i>U</i>
                    <i>u</i>
                </div>

            </div>
            <p>(12 Reviews)</p>
            <p>Upper West Ceon, Gram</p>
            <p>Opened 2 weeks ago</p>
            <div class="cart">
                <div class="cart img">
                    <img src="https://source.unsplash.com/ODNxWmNja2U/800x500" alt="" width="300">
                </div>
                <div class="cart title">
                    <h3>Lakeside Oyster
                    </h3>
                </div>
                <div class="cart comments">
                    <i>U</i>
                    <i>U</i>
                    <i>U</i>
                    <i>U</i>
                    <i>u</i>
                </div>

            </div>
            <p>(8Reviews)</p>
            <p>East Fom, Kugan</p>
            <p>Opened 1 months ago</p>

            <div class="cart">
                <div class="cart img">
                    <img src="https://source.unsplash.com/sWEpcc0Rm0U/800x500" alt="" width="300">
                </div>
                <div class="cart title">
                    <h3>Wild Junction
                    </h3>
                </div>
                <div class="cart comments">
                    <i>U</i>
                    <i>U</i>
                    <i>U</i>
                    <i>U</i> 
                    <i>u</i>
                </div>

            </div>
            <p>(29Reviews)</p>
            <p>Shotles Wood, Drada</p>
            <p>Opened 2 months ago</p>


        </section>
    </main>
<footer>
    <div class="foother-start">

    </div>
    <div class="foother-left">
    <h3>SB UI Kit Pro</h3>
    <span>Build better websites</span>
    <i>Instagram</i> 
    <i>Facebook</i>
    <i>Github</i>
    <i>Twetter</i> 
</div> 
<div class="foothrt-right">
    <h3>PRODUCT</h3>
    <ul> 
        <li><a href="">Landings</a></li>
        <li><a href="">Pages</a></li>
        <li><a href="">section</a></li>
        <li><a href="">Documentation</a></li>
        <li><a href="">Changelog</a></li>
    </ul>
    <h3>TECHNICAL</h3>
    <ul>
        <li><a href="">Doumentation</a></li>
        <li><a href="">Changelog</a></li>
        <li><a href="">Theme Customizer</a></li>
        <li><a href="">UI kID</a></li>
    </ul>

    <h3>INCLUDES</h3>
    <ul>
        <li><a href="">Utilities</a></li>
        <li><a href="">Components</a></li>
        <li><a href="">Layouts</a></li>
        <li><a href="">Code Samples</a></li>
        <li><a href="">Products </a></li>
        <li><a href="">Affiliates</a></li>
        <li><a href="">Updates</a></li>
       
    </ul>
    <h3>LEGAL</h3>
    <ul>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">License</a></li>
    </ul>
</div> 
    <div class="foother end"> </div>
    <div class="text-left">
<p>Copyright © Your Website 2022</p>
    </div>
    <div class="text-right"> 
        <span>Privacy Policy · Terms & Conditions</span>
    </div>

</footer>
</body>

</html>